@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fc-dark .fc-day-sat,
.fc-day-sun {
  background-color: #f0eded !important; /* light grey */
}
/* .fc-dark .fc {
  background: #1e1e1e;
  color: #fff;
}

.fc-dark .fc-daygrid-day {
  background: #252525;
}

.fc-dark .fc-button-primary {
  background: #444;
  border-color: #444;
} */
